/*========================login css==============================*/

.fa.el-input.el-input--suffix .el-input__inner {
    padding-left: 40px !important;
}

.login-ipt .el-button {
    width: 100%;
    background: #00ccff;
    margin: 15px 0 30px;
}

.login-ipt .el-button--primary {
    border-color: #00ccff;
}

.login-ipt .el-button--primary:focus,
.login-ipt .el-button--primary:hover {
    background: #00bef0;
    border-color: #00bef0;
    color: #fff;
}


/*========================login css==============================*/